body{
    margin: 0;
}

@font-face {
    font-family: 'Gotham Lights';
    src: url("./Gotham-Light.otf");
}
@font-face {
    font-family:'rugsnatcher' ;
    src: url("./rugsnatcher\ DEMO.otf");
}

*{
    padding: 0;
    margin: 0;
}



.header{
    position: -webkit-sticky;
    position: fixed;
    top: 0;
    background-color:black;
    width:100% ;
    height:100px ;
    display: flex;
    justify-content: space-between;
    /* padding-right: 50px; */
    z-index:1;
}
.logo{
    padding-top: 10px;
    padding-left: 20px;
    width: 200px;
    height: 100px;
   
    
}
.colorwight{
    padding-right: 90px;
    width: 64rem;
    display:flex ;
    align-items: center;
    justify-content: space-between;
    
    color: white;
    font-family: Gotham Lights;
}
#green{
    color:#16a695;
    cursor: pointer;
}
#red{
    color: red;
    cursor: pointer;
}
.green:hover{
    color:#16a695;
    cursor: pointer;
}

.header2{
    margin: 0;
    align-items: center;
    background-color: #000;
    display: flex;
    width: 100%;
    height: 485px;
}
.header3 img{
    width: 100%;
   
}
.header4 img{
    width: 100%;
    background-color: pink;
}

.Wholesome{
    font-size: 60px;
    font-weight: 100;
    color: #5e351d ;
    width: 503.13px;
    height:232px;
    padding-top: 104px;
    padding-left: 91px;
    font-family: rugsnatcher;
    margin: 0;
    
    
}
.it{
    font-family: Gotham Lights;
    font-size: 30px;
    line-height: 33px;
    font-weight: 500;
    color:#000;
    padding-top: 104px;
    padding-left: 91px;
    margin-top: -191px;
    
}
.our{
    font-family: Gotham Lights;
    font-size:14px;
    font-weight: 400;
    line-height:20px ;
    color:#000;
    padding-top: 14px;
    padding-left: 91px;
   
}
.mor{
    cursor: pointer;
    font-size: 14px;
    font-family: Gotham Lights;
    background-color: transparent;
    width: 105px;
    height: 25px;
    margin-top: 14px;
    margin-left: 91px;
    border: 2px solid #5e351d;
}
.fa-angle-right{
    border:5PX #5e351d;
}
.rometerials{
    display: flex;
    flex-wrap: wrap;
    /* background-color: #16a695; */
    width: 503.13px;
    height: 314.45px;
    margin-top: 14px;
    margin-left: 91px;
}
.pland1{

     display: flex; 
    /* background-color:orange ; */
    width: 50%;
    height: 132.23px;
    padding-top: 31px;
    /* padding-left: 87px; */
}
.pland img{
    background-color: transparent;
    width: 77.54px;
    height: 76.83px;
    padding-top: 0px;
    padding-left: 87px;
}
#fresh{
    font-family:Gotham Lights;
    font-size: 14px;
    font-weight: 500;
    line-height: 15.4px;
    padding-left: 68px;
    padding-top: 10px;
}
#ro{
    font-family:Gotham Lights;
    font-size: 14px;
    font-weight: 500;
    line-height: 15.4px;
    padding-left: 68px;
    padding-top: 10px;
}
#trad{
    font-family:Gotham Lights;
    font-size: 14px;
    font-weight: 500;
    line-height: 15.4px;
    padding-left: 53px;
    padding-top: 10px;
}
#no{
    font-family:Gotham Lights;
    font-size: 14px;
    font-weight: 500;
    line-height: 15.4px;
    padding-left: 70px;
    padding-top: 10px;
}
.water1 {
    width: 50%;
    height: 132.23px;
    margin-top: 30px;
    
    
}
.water img{
    background-color: transparent;
    width: 77.54px;
    height: 76.83px;
    padding-top: 0px;
    padding-left: 87px;

}


.header4{
    display: flex;
    flex-direction: column;
    margin-top: -10px;
    padding: 0;
    background-image: url(https://www.idfreshfood.com/wp-content/uploads/2017/09/home_page_3rd_slide__a5yJl.jpg);
    width: 100%;
    height: 900px;
    background-size: contain;
    /* background-repeat: no-repeat; */
}
.header5 {
    display: flex;
    width: 100%;
    height: 854PX;
    position: relative;
   
}
#our{
    font-size: 60px;
    font-weight: 500;
    color: aliceblue;
    position: absolute;
    padding-left: 100PX;
    padding-top: 67px;
    font-family: rugsnatcher;

   
}
#stoty{
    padding-left: 300px;
    padding-top: 400px;
    font-size: 36px;
    font-weight: 500;
    position: absolute;
    color: aliceblue;
    font-family: rugsnatcher;
    
}
#par{
    padding-left: 300px;
    padding-top: 450px;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    color: aliceblue;
    font-family: Gotham Lights;
}
.more{
    cursor: pointer;
    color: #fff;
    background-color: transparent;
    width: 105px;
    height: 25px;
    position: absolute;
    margin-top: 650px;
    margin-left: 300px;
    /* padding-left: 300px;
    padding-top: 450px; */
    border: 2px solid #fff;
    

}
.header6 {
    display: flex;
    background-image:url("https://www.idfreshfood.com/wp-content/uploads/2017/09/socialbg-2.jpg") ;
    width:100%;
    height: 520PX;
    position: relative;
    
}
#social{
    position: absolute;
    color: #5e351d;
    font-family: rugsnatcher;
    font-size: 60px;
    font-weight: 500;
    line-height: 66px;
    padding-top: 25px;
    padding-left: 200px;
}
.yt{
    /* position: relative;
    position: fixed; */
    display: flex;
    margin-top: 125px;
    width: 100%;
    height: 310px;
    position: absolute;
    /* background-color: aquamarine; */
}
#yt1{
    position: absolute;
    width: 30%;
    height: 310px;
    margin-top: 125px;
    
}
#yt2{
    position: absolute;
    width: 50%;
    height: 310px;
    margin-top: 125px;
    margin-left:760px;
    /* background-color: blue; */

}
#ytt{
    padding-left: 175px;
}
#yyt{
    padding-left: 0px;
}
.header7{
    display: flex;
    width: 100%;
    height: 226.85px;
    background-color: #000;
}
.end{
    /* display: flex; */
   
   
    padding-left: 100px;
    position: absolute;
    
}
.co1{
    cursor: pointer;
    margin-top:40PX ;
    margin-left: 500px;
    position: absolute;
    width: 1140px;
    height: 31.56px;
    line-height: 18.571PX;
    font-family:Gotham Lights;
    color: #ffffff;
    opacity: .5;
    font-size: 13px;
    font-weight: 400;
    align-items: center;
    /* background-color: #16a695; */
}
.co2{
    cursor: pointer;
    display: flex;
    margin-top: 70px;
    margin-left: 525px;
    position: absolute;
    width: 1140px;
    height: 31.56px;
    line-height: 18.571PX;
    font-family:Gotham Lights;
    color: #ffffff;
    opacity: .5;
    font-size: 13px;
    font-weight: 400;
    /* background-color: brown; */
}
.co3{
    cursor: pointer;
    margin-top: 100px;
    margin-left: 450px;
    position: absolute;
    width: 1140px;
    height: 31.56px;
    line-height: 18.571PX;
    font-family:Gotham Lights;
    color: #ffffff;
    opacity: .5;
    font-size: 13px;
    font-weight: 400;
    align-items: center;
    /* background-color:darkgoldenrod; */
}
#i1 {
    display: flex;
    margin-top: 125px;
    color: #fff;
    position: absolute;
    width: 100%;
    height: 50px;
    /* background-color: #fff; */
}
#youim{
    display: flex;
    cursor: pointer;
    align-items: center;
    padding-left: 670px;
}
#by{
    /* position: absolute; */
    font-family:Gotham Lights;
    font-size: 13px;
    font-weight: 400;
    opacity:.5 ;
    color: #fff;
    padding-left: 695px; 
 

}
.finel{
    width: 100%;
    height: 20px ;
    /* background-color: #fff; */
    margin-top: 175px;
}





